<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="category">
	<!-- full scan -->
	<select id="selectList" resultMap="com.nhnent.nguest.vo.GuestbookVO">
		SELECT id,text,[update] FROM guestbook
	</select>

	<insert id="insert" parameterType="com.nhnent.nguest.vo.GuestbookVO">
		INSERT guestbook VALUES(#{id},#{passwd},#{text},sysdatetime,sysdatetime);
	</insert>
</mapper>